* {
  box-sizing: border-box;
}

body {
  background: #636da1;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#question {
  margin: auto;
}

.container {
  width: 800px;
  max-width: 100%;
  font-size: 1.5rem;
  border-radius: 5px;
  background-color: white;
  margin-top: 150px;
  padding: 20px;
  box-shadow: 0 0 10px 2px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
  padding: 10px;
}

.btn {
  outline: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: coral;
  border: 3px solid coral;
}

.btn:hover {
  border-color: black;
  border: 3px solid black;
}

.restart-btn,
.next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  background-color: rgb(19, 161, 142);
  border-radius: 5px;
  cursor: pointer;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

#score-header {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 20px;
}

#score-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
